# 5.- Listas y Tuplas

## 5.2.- Listas

Una lista generalmente tiene datos homogeneos

In [1]:
A = ['Patricia','México','F',1989]
A

['Patricia', 'México', 'F', 1989]

In [39]:
#['Patricia','México','M',1989]

Tambien puede tener datos heterogeneos, como texto y numeros

In [40]:
a = [9,10,8.5,8,8,7.5,10]
a

[9, 10, 8.5, 8, 8, 7.5, 10]

In [41]:
#[9,10,8.5,8,8,7.5,10]

El primer elemento siempre es indice 0, y de ahi vas contando

In [42]:
a[0]
a[3]
A[3]

1989

Usa len para conocer el numero de elementos en nuestra lista

In [43]:
len(A)

len(a)

7

Y que pasa si le hablamos con indices negativos?

In [44]:
A[-1]

a[-5]

8.5

Los indices siempre deben de ser enteros - y también se vale que sean expresiones

In [45]:
ax = 1
ay = 4

a[ax-ay]

8

PUedes cambiar elementos en particular

In [46]:
a[3] = 7.2
a

[9, 10, 8.5, 7.2, 8, 7.5, 10]

In [47]:
#[9,10,8.5,7.2,8,7.5,10]

Pero no en listas de caracteres

In [51]:
b = 'Python'
b[5]
'n'
b[5]='m'

TypeError: 'str' object does not support item assignment

In [ ]:
----------------------------------------------------
TypeError Traceback (most recent call last)
<ipython-input-20-ed79499faf30> in <module>
----> 1 b[5]='m'
TypeError: 'str' object does not support item assignment

¿Que pasa si llamamos un indice fuera de la lista?

In [53]:
IndexError Traceback (most recent call last)
<ipython-input-22-9cf13ba20553> in <module>
----> 1 a[7]
IndexError: list index out of range

SyntaxError: invalid decimal literal (3216931587.py, line 2)

Cada elemento puede usarse como una variable

In [54]:
5*a[2]+a[3]-a[6]/5

47.7

Vamos agregando elementos a una lista vacía

In [14]:
mi_secuencia=[]
for número in range(-2,3):
    mi_secuencia += [número]
mi_secuencia

[-2, -1, 0, 1, 2]

In [15]:
letras = []
letras += 'Porejemplo'
letras

['P', 'o', 'r', 'e', 'j', 'e', 'm', 'p', 'l', 'o']

In [55]:
Lista = A + a
Lista

['Patricia', 'México', 'F', 1989, 9, 10, 8.5, 7.2, 8, 7.5, 10]

In [56]:
for i in range(len(Lista)):
    print(f'{i}:{Lista[i]}')

0:Patricia
1:México
2:F
3:1989
4:9
5:10
6:8.5
7:7.2
8:8
9:7.5
10:10

Y es totalmente viable concatenar 2 listas

#### Por tu cuenta

Arma una función que eleve al cuadrado dotos los elementos de una lista. Prueba con una lista con todos los numeros pares del 2 al 20.

In [21]:
def elevar_al_cuadrado(lista):
    return [x ** 2 for x in lista]

numeros_pares = list(range(2, 21, 2))

cuadrados = elevar_al_cuadrado(numeros_pares)

print("Lista original:", numeros_pares)
print("Lista al cuadrado:", cuadrados)

Lista original: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Lista al cuadrado: [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
#Lista original: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
#Lista al cuadrado: [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

## 5.3.- Tuplas

Vamos comenzando con una tupla vacia

In [22]:
datos_cliente1 = ()
datos_cliente1
()
len(datos_cliente1)

0

Ahora vamos a añadir 3 elementos a la tupla

In [23]:
datos_cliente1='Paty','F','23'
datos_cliente1

('Paty', 'F', '23')

In [ ]:
#('Paty', 'F', '23')

Puedes llamar a los elementos individuales, arma un print que nos diga en que año nació paty (tiene 23 años al 2021)

In [24]:
print(datos_cliente1[0],'nació en el año de', 2021-int
(datos_cliente1[2]))

Paty nació en el año de 1998

Es posible acceder a cualquier secuencia de elementos, asignando cada elemnto de la secuencia con una variable separada por comas

In [25]:
complemento_info = ('Feb','1998')

In [26]:
datos_c1 = datos_cliente1 + complemento_info

In [27]:
datos_c1

('Paty', 'F', '23', 'Feb', '1998')

In [ ]:
#('Paty', 'F', '23', 'Feb', '1998')

Si en la tupla solo hay caracteres, vamos a armar un print que nos de cada letra por separado

In [28]:
primera,segunda = 'Va'

In [29]:
print(f'{primera},{segunda}')

V,a

In [ ]:
#V,a

Y si son valores...

In [30]:
Estatura,Peso,Temperatura = (1.8,69,37.5)

In [31]:
print(f'{Estatura},{Peso},{Temperatura}')

1.8,69,37.5

In [32]:
#1.8,69,37.5

También se puede acceder un valor al indexarlo - vamos  arecibir una lista con 3 estudiantes y convertirlo en una tupla enumerada

In [33]:
estudiantes=['Hugo','Paco','Luis']
tuple(enumerate(estudiantes))
((0, 'Hugo'),(1, 'Paco'),(2, 'Luis'))
tuple(enumerate(estudiantes))
((0, 'Hugo'),(1, 'Paco'),(2, 'Luis'))

((0, 'Hugo'), (1, 'Paco'), (2, 'Luis'))

#### Por tu cuenta

Crea una tupla de un solo elemento con el número 582.4 y luego muestrala

In [34]:
tupla = (582.4,)

print(tupla)

(582.4,)

#### Por tu cuenta

Muestra que pasa si intentas concatenar una lista de 3 enteros con una tupla de 3 enteros usando +

In [36]:
lista = [1, 2, 3]

tupla = (4, 5, 6)

try:
    resultado = lista + tupla
except TypeError as e:
    print(f"Error: {e}")

Error: can only concatenate list (not "tuple") to list

## 5.4.- Separando Secuencias

Crea una secuencia con todas las potencias de 2 - del 2 al 256

In [37]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

sublista = potencias2[3:5]

In [ ]:
#[16, 32]

Selecciona el 16 y 32

In [57]:
print(sublista)

[16, 32]

Ahora selecciona los primeros 5 elementos

In [58]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

primeros_5 = []
for i in range(5):
    primeros_5.append(potencias2[i])

print(primeros_5)

[2, 4, 8, 16, 32]

Ahora vamos a seleccionar todos desde el 16 en adelante

In [59]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

desde_16 = potencias2[3:]

print(desde_16)

[16, 32, 64, 128, 256]

Si dejamos los : asi nomás, selecciona todo

In [60]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

todos_los_elementos = potencias2[:]

print(todos_los_elementos)

[2, 4, 8, 16, 32, 64, 128, 256]

También podemos seleccionar elementos de 2 en 2 o de 3 en 3 o asi, deja :: y luego va el stepfunction

In [61]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

elementos_de_2_en_2 = potencias2[::2]

elementos_de_3_en_3 = potencias2[::3]

print("Elementos de 2 en 2:", elementos_de_2_en_2)
print("Elementos de 3 en 3:", elementos_de_3_en_3)

Elementos de 2 en 2: [2, 8, 32, 128]
Elementos de 3 en 3: [2, 16, 128]

Y si vamos de -3 en -3 significa que empieza desde el final

In [62]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

elementos_de_menos3_en_menos3 = potencias2[::-3]

print("Elementos de -3 en -3:", elementos_de_menos3_en_menos3)

Elementos de -3 en -3: [256, 32, 4]

Ahora modifica los nombres de los primeros 3 elementos, - en vez de numero que sea su nombre en letra

In [63]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

potencias2[0] = "dos"
potencias2[1] = "cuatro"
potencias2[2] = "ocho"

In [64]:
print(potencias2)

['dos', 'cuatro', 'ocho', 16, 32, 64, 128, 256]

Mira, si le decimos qu elos elementos 0:2 van a estar [], entonces los borra

In [67]:
potencias2 = [2, 4, 8, 16, 32, 64, 128, 256]

In [66]:
potencias2[0:2] = []

In [65]:
print(potencias2)

['dos', 'cuatro', 'ocho', 16, 32, 64, 128, 256]

#### Por tu cuenta

Crea una lista llamada números que contenga los valores del 1 al 15, haz las siguientes operaciones
-selecciona los numeros enteros
-reemplaza los elementos en indices 5 al 9 por 0s
-manten solo los primeros 5 elementos, y muestra la lista resultante
-Borra todos los elementos que quedan

In [69]:
numeros = list(range(1, 16))
enteros = numeros[:]
numeros[5:10] = [0] * 5
numeros = numeros[:5]
numeros.clear()
print(numeros)

[]

### 5.4.2 - Del

Ahora arma uan lista con todos los multiples de 10 del 0 al 90

In [71]:
multiplos_de_10 = list(range(0, 91, 10))
print(multiplos_de_10)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Borra del 30 al 50

In [72]:
multiplos_de_10 = list(range(0, 91, 10))

In [73]:
multiplos_de_10[3:6] = []

In [74]:
print(multiplos_de_10)

[0, 10, 20, 60, 70, 80, 90]

A continuación, rearma la lista y borra cada segundo elemento

In [76]:
multiplos_de_10 = list(range(0, 91, 10))

In [77]:
multiplos_de_10 = multiplos_de_10[::2]

In [78]:
print(multiplos_de_10)

[0, 20, 40, 60, 80]

Y por último, borra la lista completa

In [79]:
multiplos_de_10 = list(range(0, 91, 10))

In [80]:
multiplos_de_10.clear()

In [81]:
multiplos_de_10

[]

#### Por tu cuenta

Crea una lista con los numeros del 1 al 15
- borra una parte que contenga los primeros 4 elementos, muestra tu resultado
- Empezando con el primer elemento, borra cada 2do elemento de la lista.

In [82]:
numeros = list(range(1, 16))

In [83]:
numeros[:4] = []

In [84]:
print(numeros)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [85]:
del numeros[::2]

In [86]:
print(numeros)

[6, 8, 10, 12, 14]

## 5.5.- Listas Ordenadas

Vamos  armar la lista

edad = [65,26,28,36,18]

In [87]:
edad = [65,26,28,36,18]

In [88]:
edad

[65, 26, 28, 36, 18]

Ahora vamos a ordenarla usando sort()

In [89]:
edad.sort()
edad

[18, 26, 28, 36, 65]

In [90]:
#[65, 36, 28, 26, 18]

Ahora vamos aordenarla usando sort(reverse=true)

In [92]:
edad.sort(reverse = True)

In [93]:
edad

[65, 36, 28, 26, 18]

In [94]:
#[65, 36, 28, 26, 18]

También se puede usar la función sorted, que es una función que devuelve otra lista

In [95]:
edad = [65, 26, 28, 36, 18]

In [96]:
edad_ordenada = sorted(edad)

In [97]:
print("Lista original:", edad)
print("Lista ordenada:", edad_ordenada)

Lista original: [65, 26, 28, 36, 18]
Lista ordenada: [18, 26, 28, 36, 65]

In [ ]:
#Lista original: [65, 26, 28, 36, 18]
#Lista ordenada: [18, 26, 28, 36, 65]

Se pueden ordenar cadenas de caracters

In [98]:
nombres = ["Carlos", "Ana", "David", "Beatriz", "Elena"]

In [99]:
nombres_ordenados = sorted(nombres)

In [100]:
print("Lista original:", nombres)
print("Lista ordenada:", nombres_ordenados)

Lista original: ['Carlos', 'Ana', 'David', 'Beatriz', 'Elena']
Lista ordenada: ['Ana', 'Beatriz', 'Carlos', 'David', 'Elena']

In [ ]:
#Lista original: ['Carlos', 'Ana', 'David', 'Beatriz', 'Elena']
#Lista ordenada: ['Ana', 'Beatriz', 'Carlos', 'David', 'Elena']

Y también las tuplas, pero solo usando sorted

In [101]:
numeros = (65, 26, 28, 36, 18)

In [102]:
numeros_ordenados = sorted(numeros)

In [103]:
print("Tupla original:", numeros)

Tupla original: (65, 26, 28, 36, 18)

In [104]:
print("Lista ordenada:", numeros_ordenados)

Lista ordenada: [18, 26, 28, 36, 65]

In [ ]:
#Tupla original: (65, 26, 28, 36, 18)
#Lista ordenada: [18, 26, 28, 36, 65]

### 5.5.2.- Buscando Secuencias

Ahora arma la lista

edad = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

In [105]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

In [106]:
print(edad)

[65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

In [107]:
#[65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

Y busca en ella la edad 45 usando el método index()

In [108]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

indice = edad.index(45)

print("El valor 45 se encuentra en el índice:", indice)

El valor 45 se encuentra en el índice: 10

In [109]:
#El valor 45 se encuentra en el índice: 10

Si buscas algo que no esta, como 43, el resultado es...

In [110]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

try:
    indice = edad.index(43)
    print("El valor 43 se encuentra en el índice:", indice)
except ValueError:
    print("El valor 43 no está en la lista.")

El valor 43 no está en la lista.

In [112]:
#El valor 43 no está en la lista.

Tambien puedes usar el comando in, checa si 56 está in edad

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]

In [ ]:
if 56 in edad:
    print("56 está en la lista.")
else:
    print("56 no está en la lista.")

In [113]:
#56 no está en la lista.

### 5.5.3.- Otros Métodos de Lista

Arma una ensalada

vegetales = ['espinaca','apio']

In [114]:
vegetales = ['espinaca', 'apio']

In [115]:
print("Ensalada inicial:", vegetales)

Ensalada inicial: ['espinaca', 'apio']

In [116]:
#Ensalada inicial: ['espinaca', 'apio']

Usa el método insert() para meter 'lechuga' en la posición 0

In [117]:
vegetales = ['espinaca', 'apio']

In [118]:
vegetales.insert(0, 'lechuga')

In [119]:
vegetales

['lechuga', 'espinaca', 'apio']

Usa el método append() para meter 'esparragos' al final

In [120]:
vegetales = ['lechuga', 'espinaca', 'apio']

In [121]:
vegetales.append('esparragos')

In [122]:
vegetales

['lechuga', 'espinaca', 'apio', 'esparragos']

Agrega el precio usando el comando extend

Precio = (10,15,8,30)

In [123]:
vegetales = ['lechuga', 'espinaca', 'apio', 'esparragos']

In [124]:
precio = (10, 15, 8, 30)
vegetales.extend(precio)
print("Ensalada con precios:", vegetales)

Ensalada con precios: ['lechuga', 'espinaca', 'apio', 'esparragos', 10, 15, 8, 30]

In [125]:
#Ensalada con precios: ['lechuga', 'espinaca', 'apio', 'esparragos', 10, 15, 8, 30]

Quitale los esparragos a la ensalada usando remove()

In [126]:
vegetales = ['lechuga', 'espinaca', 'apio', 'esparragos', 10, 15, 8, 30]

vegetales.remove('esparragos')

In [127]:
print("Ensalada sin espárragos:", vegetales)

Ensalada sin espárragos: ['lechuga', 'espinaca', 'apio', 10, 15, 8, 30]

In [ ]:
#Ensalada sin espárragos: ['lechuga', 'espinaca', 'apio', 10, 15, 8, 30]

Tira la ensalada y ve por un platillo de hombre usando vegetales.clear()

In [128]:
vegetales = ['lechuga', 'espinaca', 'apio', 10, 15, 8, 30]

In [129]:
vegetales.clear()
print("Ensalada tirada, lista vacía:", vegetales)

Ensalada tirada, lista vacía: []

In [130]:
#Ensalada tirada, lista vacía: []

### 5.5.4.- Contar

Arma una lista de edades

 edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [131]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]
print(edades)

[15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [ ]:
#[15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

Usa count para saber cuantas vecs aparece la edad 16

In [132]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

conteo_16 = edades.count(16)

print("La edad 16 aparece", conteo_16, "veces.")

La edad 16 aparece 4 veces.

In [133]:
#La edad 16 aparece 4 veces.

Arma un for para contar cuantas veces se repite cada edad entre 15 a 25 en la lista

imprime tus resultados con la frase
La edad 15 se repite 2 veces
y asi...

In [135]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [136]:
edades_a_contar = range(15, 26)

In [137]:
for edad in edades_a_contar:
    conteo = edades.count(edad)
    print(f"La edad {edad} se repite {conteo} veces.")

La edad 15 se repite 2 veces.
La edad 16 se repite 4 veces.
La edad 17 se repite 1 veces.
La edad 18 se repite 2 veces.
La edad 19 se repite 4 veces.
La edad 20 se repite 2 veces.
La edad 21 se repite 3 veces.
La edad 22 se repite 0 veces.
La edad 23 se repite 0 veces.
La edad 24 se repite 2 veces.
La edad 25 se repite 0 veces.

In [ ]:
#La edad 15 se repite 2 veces.
#La edad 16 se repite 4 veces.
#La edad 17 se repite 1 veces.
#La edad 18 se repite 2 veces.
#La edad 19 se repite 4 veces.
#La edad 20 se repite 2 veces.
#La edad 21 se repite 3 veces.
#La edad 22 se repite 0 veces.
#La edad 23 se repite 0 veces.
#La edad 24 se repite 2 veces.
#La edad 25 se repite 0 veces.

Arma tu ensalada de nuevo

 vegetales = ['lechuga','espinaca','apio','pepinillo']

In [138]:
vegetales = ['lechuga', 'espinaca', 'apio', 'pepinillo']

In [139]:
print("Ensalada:", vegetales)

Ensalada: ['lechuga', 'espinaca', 'apio', 'pepinillo']

In [ ]:
#Ensalada: ['lechuga', 'espinaca', 'apio', 'pepinillo']

Usa reverse para darle la vuelta

In [142]:
vegetales = ['lechuga', 'espinaca', 'apio', 'pepinillo']

In [140]:
vegetales.reverse()
print("Ensalada al revés:", vegetales)

Ensalada al revés: ['pepinillo', 'apio', 'espinaca', 'lechuga']

In [141]:
#Ensalada al revés: ['pepinillo', 'apio', 'espinaca', 'lechuga']

Prepara una seguna ensalada usando copy

In [143]:
vegetales = ['pepinillo', 'apio', 'espinaca', 'lechuga']

In [144]:
segunda_ensalada = vegetales.copy()

In [145]:
print("Segunda ensalada:", segunda_ensalada)

Segunda ensalada: ['pepinillo', 'apio', 'espinaca', 'lechuga']

In [146]:

#Segunda ensalada: ['pepinillo', 'apio', 'espinaca', 'lechuga']

## 5.6.- Comprensión de Listas

Vamos a armar una lista con todos los numeros del 1 al 10 de la manera mas mensa posible

empeiza con lista vacia, y luego un for que haga un append de todos los numeros del 1 al 10

In [147]:
lista = []

In [148]:
for i in range(1, 11):
    lista.append(i)

In [149]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [150]:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora hacemos lo mismo con la comprensión de listas

In [151]:
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tambien de plano podemos reemplazar todo eso por range

In [153]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [154]:
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora vamos a mapear - hacer calculos dentro de la comprension de listas, en este caso todos los cuadrados del 1 al 10

In [155]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Ahora vamos a generar una comprensión de lista con filtro - todos los cuadrados del 1 al 10 siempre y cuando sean menores a 50

In [156]:
[i**2 for i in range(1, 11) if i**2 < 50]

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#[1, 4, 9, 16, 25, 36, 49]

Que tal que queremos una comprension de lista d etodos los cuadrados pares del 1 al 10?

In [158]:
[i**2 for i in range(1, 11) if i % 2 == 0]

[4, 16, 36, 64, 100]

In [159]:
#[4, 16, 36, 64, 100]

Vuelve a armar tu ensalada

 vegetales = ['apio','brocoli','lechuga']

In [160]:
vegetales = ['apio', 'brocoli', 'lechuga']

In [161]:
vegetales

['apio', 'brocoli', 'lechuga']

Arma una comprensión de lista que cambie todos estos a mayusculas

In [162]:
[vegetal.upper() for vegetal in vegetales]

['APIO', 'BROCOLI', 'LECHUGA']

In [163]:
#['APIO', 'BROCOLI', 'LECHUGA']

#### Por tu cuenta

Arma una comprensión de lista que te devuelva tuplas de todos los numeros del 1 al 6 y sus cubos

In [164]:
[(i, i**3) for i in range(1, 7)]
[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

#### Por tu cuenta

Arma una comprensión de lista que te devuelva todos los mutliples de 3 menores a 60

In [165]:
[i for i in range(3, 60, 3)]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

In [166]:
#[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

### 5.6.2.- Generador de Expresiones

Arma esta lista

lista = [-3,5,8,4,1,-6,7,10]

In [167]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]
[-3, 5, 8, 4, 1, -6, 7, 10]

[-3, 5, 8, 4, 1, -6, 7, 10]

Arma un for que te muestre los cuadrados pares de esta lista

In [168]:
for num in lista:
    if num % 2 == 0:
        print(num**2)

64
16
36
100

Ahora checa como podemos hacer lo mismo con el generador de expresiones

In [169]:
(num**2 for num in lista if num % 2 == 0)

Y para ver los resultados usa list()

In [170]:
list(num**2 for num in lista if num % 2 == 0)

[64, 16, 36, 100]

In [171]:
#[64, 16, 36, 100]

#### Por tu cuenta

Crea una expresion generadora que eleve al cubo los enteros pares en uan lista que contiene 10,3,7,1,9,4

In [172]:
list(num**3 for num in [10, 3, 7, 1, 9, 4] if num % 2 == 0)
[1000, 64]

[1000, 64]

### 5.6.3.- Filtrar, mapear y reducir

Primero vamos a definir una funcion que cheque si un numero es par

usaremos la lista lista=[-3,5,8,4,1,-6,7,10]

In [173]:
def es_par(n):
    return n % 2 == 0

lista = [-3, 5, 8, 4, 1, -6, 7, 10]

filtrados = list(filter(es_par, lista))
mapeados = list(map(lambda x: x**2, filtrados))
from functools import reduce
resultado = reduce(lambda x, y: x + y, mapeados)

filtrados, mapeados, resultado

([8, 4, -6, 10], [64, 16, 36, 100], 216)

In [ ]:
#([8, 4, -6, 10], [64, 16, 36, 100], 216)

Ahoa vamos a filtrar la lista usando esta nueva función

In [174]:
def es_positivo(n):
    return n > 0

filtrados = list(filter(es_positivo, lista))
filtrados

[5, 8, 4, 1, 7, 10]

In [ ]:
#[5, 8, 4, 1, 7, 10]

Podemos usar la comprensión de listas y nuestra nueva función para armar una lista

In [175]:
filtrados = [n for n in lista if es_positivo(n)]
filtrados

[5, 8, 4, 1, 7, 10]

In [176]:
#[5, 8, 4, 1, 7, 10]

Cuando la funcion es tan sencilla, es mejor usar un lambda que andarla definiendo, como en este caso que hacemos lo mismo pero con lambda

In [177]:
filtrados = [n for n in lista if (lambda x: x > 0)(n)]
filtrados

[5, 8, 4, 1, 7, 10]

In [178]:
#[5, 8, 4, 1, 7, 10]

Vamos a usar lambda y map para mostrar una comprensión de lista que eleva todo al cubo, la lsita a usar sera

[-3, 5, 8, 4, 1, -6, 7, 10]

In [179]:
lista = [-3, 5, 8, 4, 1, -6, 7, 10]

cubo = list(map(lambda x: x**3, lista))
cubo

[-27, 125, 512, 64, 1, -216, 343, 1000]

In [180]:
#[-27, 125, 512, 64, 1, -216, 343, 1000]

Podemos laograr lo mismo sin map

In [181]:
cubo = [x**3 for x in lista]
cubo

[-27, 125, 512, 64, 1, -216, 343, 1000]

In [182]:
#[-27, 125, 512, 64, 1, -216, 343, 1000]

#### Por tu cuenta

Crea una lista con numeros del 1 al 15 y luego
- crea una nueva lista de los elementos impares
- crea una nueva lista usando map y lambda para elevar al cuadrado a todos
- filtra los elementos impares y luego mapealos a sus cuadrados

In [183]:
lista = list(range(1, 16))

impares = [n for n in lista if n % 2 != 0]
cuadrados = list(map(lambda x: x**2, lista))
filtrados_mapeados = list(map(lambda x: x**2, filter(lambda x: x % 2 != 0, lista)))

In [184]:
impares, cuadrados, filtrados_mapeados

([1, 3, 5, 7, 9, 11, 13, 15],
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225],
 [1, 9, 25, 49, 81, 121, 169, 225])

In [185]:
#([1, 3, 5, 7, 9, 11, 13, 15],
 #[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225],
 #[1, 9, 25, 49, 81, 121, 169, 225])

## 5.7.- Listas de 2 Dimensiones

Es posible crear una lista de 2 dimensiones en python

In [186]:
matriz = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matriz

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [187]:
#[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 5.8.- Visualización de Datos Estáticos

Importa las librerias

In [188]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [189]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

Crea la grafica de barras incial

In [190]:
categorias = ['A', 'B', 'C', 'D']
valores = [10, 20, 15, 25]

In [195]:
import matplotlib.pyplot as plt
import numpy as np
categorias = ['A', 'B', 'C', 'D']
valores = [10, 20, 15, 25]
plt.bar(categorias, valores)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
filtrados = [n for n in lista if es_positivo(n)]
filtrados

[5, 8, 4, 1, 7, 10]

Pon la ventana y etiqueta los ejes

In [192]:
plt.figure(figsize=(6,4))
plt.bar(categorias, valores)
plt.xlabel("Categorías")
plt.ylabel("Valores")
plt.title("Gráfica de Barras")
plt.show()

NameError: name 'plt' is not defined

Finaliza la grafica de barras

In [196]:
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

NameError: name 'plt' is not defined

Tira de nuevo usando magia

Guarda tu programa usando magia

In [ ]:
%matplotlib inline
plt.figure(figsize=(6,4))
plt.bar(categorias, valores)
plt.xlabel("Categorías")
plt.ylabel("Valores")
plt.title("Gráfica de Barras")
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

In [ ]:
%matplotlib inline
plt.figure(figsize=(6,4))
plt.bar(categorias, valores)
plt.xlabel("Categorías")
plt.ylabel("Valores")
plt.title("Gráfica de Barras")
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.savefig("grafica_barras.png")
plt.show()